# Core Machine Learning
torch==2.0.1
torchvision==0.15.2
numpy<1.24.0

# Quantum Frameworks
pennylane==0.31.0
pennylane-qiskit==0.31.0
qiskit==0.43.3
qiskit-aer==0.12.2
qiskit-ibm-runtime==0.11.3

# Specialized Libraries
torchquantum==0.1.5
pylatexenc==2.10
matplotlib==3.7.2
jupyterlab==4.0.3
tqdm==4.65.0